body {
	margin: 0;
	padding: 0;
	background-image: url("./img/Bookshelf.jpeg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

body {
	display: block;
}





/*Header*/



header {
	padding: 8em 0 4em;
	margin: 0 0 0em;
	background: url("./img/book.jpeg") center 0px;
	position: relative;
}

#title {
	color: #2BA967;
	font-size: 3.0em;
}

#mainNav {
	float: right;
	font-family: arial;
	font-size: 1.4em;
}



/*Generes and Body*/


#generes {
width: 100%;
}

#drama {
    display: inline-block;
    vertical-align: top;
}


#sciFi {
    display: inline-block;
    vertical-align: top;
}

#romance {
	display: inline-block;
    vertical-align: top;
}


#western {
    display: inline-block;
    vertical-align: top;	
} 


#suspense {
	display: inline-block;
    vertical-align: top;
}


#horror {
	display: inline-block;
    vertical-align: top;
}



















